 
  /**
   * style input elements that have a required
   * attribute and a focus state
   */
  input:required:focus {
	border: 1px solid red;
	outline: none;
  }
  
  /**
   * style input elements that have a required
   * attribute and a hover state
   */
  input:required:hover {
	opacity: 1;
  }